<h1>Search Results</h1>
<ul>
<% @products.each do |product| %>

  <li>
  <p><%= link_to product.name, product_path(product) %>
        <%= button_to "Feature",
        feature_product_path(product),
        method: :patch %>
        </p>
      </li>
      <% end %>
</ul>